.heading{
    background-image: url("../../assets/images/header-central-de-ajuda.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 112px 0;
}

.headingTitle{
    font-family: var(--font-family-popp);
    font-weight: var(--font-bold);
    color: var(--color-primary);
    font-size: 48px;
    line-height: 1;
}

@media screen and (max-width: 767px) {
    .headingTitle{
        font-size: 36px;
    }
}